################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SealingSchoolWPF/bin/Debug
/SealingSchoolWPF/obj/Debug
/SealingSchoolWPF/WpfScheduler/bin/Debug
/SealingSchoolWPF/WpfScheduler/obj/Debug
/SealingSchoolWPF/JarlooCalendar/Jarloo.Calendar/bin/Debug
/SealingSchoolWPF/JarlooCalendar/Jarloo.Calendar/obj/Debug
